doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/stylesheets/eror.css')
.box
  .inner-box
    h1  404 
    p  Arda&gbreve;&imath;n&imath;z sayfay&imath; bulamad&imath;k
    a(href='/home')
      button Anasayfa
