body {
  background-color: #EAE9ED;

}

.display-3 {
  padding-top:30px
}

.content {
  transform:translate(25%);
}

form {
    
  transform:translate(-10%,20%)
}
.p {
  color:White;
  text-decoration: none;
}
.p:hover {
  color:White;
  text-decoration: none;
}